@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url(normalize.css);

@mixin hoverLine($color, $height: 1) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: #{$height}px;
    background-color: $color;
    transition: 0.3s;
  }

  &:hover::before {
    width: 100%;
  }
}

$black: #000000;
$yellow: #F8F113;



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: $black;
  position: absolute;
  top: 0;
  width: 100%;


  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }

  &-info {
    display: flex;
    align-items: center;
    gap: 34px;
  }

  &-phone {
    @include hoverLine(#000)
  }
}



.logo {
  max-width: 165px;
  width: 100%;
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 38px;
  }

  &__link {
    &-arrow {
      padding-right: 20px;
      position: relative;
      display: flex;
      align-items: center;

      svg {
        position: absolute;
        right: 0;
      }
    }

    @include hoverLine(#000)
  }


}

.btn {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  padding: 16px 40px;
  background: $yellow;
  border: 1px solid $yellow;
  border-radius: 10px;
  color: $black;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: transparent;
    color: $black;
  }

  &-header {
    font-size: 14px;
    line-height: 19px;
  }

  &-intro {
    padding: 15px 36px;
    border-radius: 47px;

    &-video {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      gap: 11px;
      font-weight: 600;
      font-size: 17px;
      line-height: 30px;
      letter-spacing: -0.02em;
      cursor: pointer;

      .intro-video__svg {
        transition: 0.3s;
      }

      &:hover {
        .intro-video__svg {
          transform: scale(1.1);
        }
      }
    }
  }

  &-form {
    width: 100%;
    background: #2D2D2D;
    color: #FFFFFF;
    border: 1px solid #2D2D2D;
    border-radius: 5px;
  }

  &-skill {
    padding: 10px 20px;
    width: 100%;
    max-width: 550px;
  }
}

.title {
  font-weight: 800;
  letter-spacing: -0.03em;
  font-size: 50px;
  line-height: 60px;


  &-h1 {
    font-size: 60px;
    line-height: 74px;
    margin-bottom: 20px;
  }

  &-partner {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
  }

  &-sub {
    font-size: 42px;
    line-height: 60px;
  }
}

.small-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #F8F113;
  margin: 13px 0;
}

.description {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #64607D;
}


.form {
  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #333333;
  }

  &-input {
    padding: 16px 20px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DFE4F1;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    outline: none;

    &:placeholder {
      color: #64607D;
      opacity: 0.4;
    }
  }

  &-item {
    margin: 24px 0;
  }

  &-dark {
    &__input {
      background: rgba(#F2F3F4, 0.2);
      border-color: rgba(#F2F3F4, 0.2);
      color: #fff;
    }

    .btn-form {
      background-color: $yellow;
      border-color: $yellow;
      color: #000;

      &:hover {
        background-color: transparent;
        color: $yellow;
      }
    }
  }
}

.section {
  &-margin {
    margin: 100px 0;
  }

  &-padding {
    padding: 50px 0;
  }
}

.intro {
  height: 660px;
  display: flex;
  align-items: flex-end;

  &-inner {
    padding: 0 30px;
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &-left {
    max-width: 645px;
  }

  &-right {
    max-width: 356px;
    width: 100%;
  }

  &-buttom {
    margin: 47px 0 0;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .description {
    max-width: 446px;
    width: 100%;
  }

  &-element {
    &s {
      overflow: hidden;
    }

    &-1 {
      position: absolute;
      right: -100px;
      top: -100px;
      width: 968px;
      height: 802px;
      z-index: -1;
    }

    &-2 {
      position: absolute;
      right: 15%;
      top: 17%;
      width: 406px;
      height: 406px;
      z-index: -1;
    }

    &-3 {
      position: absolute;
      left: 6.5%;
      top: 8%;
      width: 230px;
      height: 230px;
      z-index: -1;
    }

    &-4 {
      position: absolute;
      left: 2.5%;
      width: 248px;
      height: 248px;
      z-index: -1;
      top: 63%;
    }
  }


}

.partners {
  margin-top: 50px;

  &-svg {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
  }

  &-item {
    max-height: 30px;
    max-width: 140px;

    img {
      object-fit: contain;
    }
  }
}

.skill {
  .wrapper {
    position: relative;
  }

  &-head {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;

    .description {
      max-width: 605px;
      margin: 14px auto 24px;
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 1043px;
    margin: 20px auto;
    padding: 45px 0 0;
    counter-reset: list;
  }

  &-item {
    max-width: 280px;
    counter-increment: list;
    position: relative;

    &::before {
      content: counter(list);
      position: absolute;
      font-weight: 800;
      font-size: 204px;
      line-height: 204px;
      letter-spacing: -0.02em;
      color: #000000;
      opacity: 0.05;
      right: 32px;
      top: -50px;
      transition: 0.3s;
    }

    &:hover {
      &::before {
        transform: scale(1.3);
      }
    }
  }

  &-svg {
    width: 64px;
    height: 64px;
    background: #333333;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
    margin-bottom: 24px;
  }

  &-title {
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.03em;
  }

  &-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #757095;
  }

  &-element {
    &s {
      overflow: hidden;
    }

    &-1 {
      position: absolute;
      right: -300px;
      top: -60px;
      width: 337px;
      height: 337px;
      z-index: -1;
    }

  }
}

.order {
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FEFDDE;
    border-radius: 10px;
    max-width: 1044px;
    margin: 0 auto;
    padding: 40px 70px;
  }

  &-title {
    max-width: 560px;
    font-weight: 800;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: -0.03em;
  }
}

.using {
  margin: 100px 0 50px;

  .wrapper {
    position: relative;
  }

  &-element {
    &s {
      overflow: hidden;
    }

    &-1 {
      position: absolute;
      left: -369px;
      top: 117px;
      width: 496px;
      height: 496px;
      z-index: -1;
    }

  }

  &-inner {
    display: flex;
    justify-content: space-between;
  }

  &-left {
    max-width: 564px;
    min-height: 482px;
    width: 100%;
    position: relative;
    margin: 20px 50px;

    &__img {
      width: 100%;
      position: absolute;
      overflow: hidden;
      border-radius: 22px;
      border: 1px solid #DFDFDF;
      transition: 0.3s;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
      }

      &-1 {
        max-width: 342px;
        height: 388px;
        top: 0;

      }

      &-2 {
        max-width: 370px;
        height: 302px;
        bottom: 0;
        right: 0;
      }

      &:hover {
        z-index: 2;

        img {
          transform: scale(1.1);
        }
      }
    }


  }

  &-right {
    max-width: 486px;
    width: 100%;
    // margin: 0 600px;
    // margin-left: auto;

    .description {
      font-size: 18px;
      margin-top: 30px;
    }
  }

  &-list {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: -0.02em;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: #E6E6E6;
      left: 0;
      top: 23px;
    }
  }

  &-item {
    display: flex;
    gap: 10px;
    padding-left: 35px;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url(../img/using-svg.svg);
      left: 0;
    }
  }
}

.about {
  &-inner {}

  .wrapper {
    position: relative;
  }

  &-element {
    &s {
      overflow: hidden;
    }

    &-1 {
      position: absolute;
      right: -426px;
      top: -167px;
      width: 630px;
      height: 630px;
      z-index: -1;
    }

  }

  &-head {
    text-align: center;

    .description {
      max-width: 604px;
      margin: 15px auto;
    }
  }

  &-foot {
    &__more {
      display: flex;
      justify-content: center;

      .btn {
        padding: 16px 50px;
      }
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 60px 0 40px;
  }

  &-item {
    max-width: 380px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 22px;
    padding: 100px 32px 40px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    }
  }

  &-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #1B1C31;
  }

  &-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    margin: 20px 0;
  }

  &-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #F98E71;
    position: relative;
    padding-right: 22px;
    display: inline-flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 9px;
      background-image: url(../img/about-link.svg);
      right: 0;
    }

    &:hover {
      span::before {
        width: 100%;
      }
    }

    span {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 1px;
        background-color: #F98E71;
        transition: 0.3s;
      }
    }
  }
}

.contact {
  background: #333333;
  padding: 60px 0 75px;

  .wrapper {
    position: relative;
  }

  &-element {
    &s {
      overflow: hidden;
    }

    &-1 {
      position: absolute;
      right: -161px;
      top: -180px;
      width: 253px;
      height: 253px;
      z-index: 1;
    }

    &-2 {
      position: absolute;
      left: 46.5%;
      top: -48px;
      transform: translateX(-50%);
      width: 79px;
      height: 79px;
      z-index: 1;
    }

    &-3 {
      position: absolute;
      left: -98px;
      bottom: 27px;
      width: 111px;
      height: 111px;
      z-index: 1;
    }

  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-left {
    max-width: 483px;
    width: 100%;
    color: #fff;

    * {
      color: #fff;
    }

    .description {
      margin-top: 30px;
      font-size: 18px;
      max-width: 446px;
    }
  }

  &-right {
    max-width: 371px;
    width: 100%;
    margin-right: 100px;
  }
}

.footer {
  &-inner {
    padding: 40px 24px;
  }

  &-top {
    padding: 60px 0;

    .description {
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: -0.02em;
      color: #757095;
    }
  }

  &-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1B1C31;
    margin-bottom: 24px;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &-item {
    width: 100%;

    &:nth-child(1) {
      max-width: 213px;
    }

    &:nth-last-child(1) {
      max-width: 389px;
    }

    &__menu {
      max-width: 408px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }

  &-menu {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 18px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #181433;
    }

    &__link {
      @include hoverLine(#181433)
    }

    &__item {
      // margin-bottom: 18px;

      //   &:nth-last-child(1) {
      //     margin-bottom: 0;
      //   }

      // &:not(:nth-last-child(1)){
      //   margin-bottom: 18px;
      // }
    }

  }

  &-social {
    &s {
      margin: 31px 0;
      display: flex;
      gap: 16px;
    }

    svg {
      fill: #333;
      transition: 0.3s;

      &:hover {
        fill: $yellow;
      }
    }
  }

  &-form {
    position: relative;
    background: #F9F9F9;

    .btn {
      max-width: 150px;
      width: 100%;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      height: 52px;
    }

    &__desc {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.02em;
      color: #181433;
      opacity: 0.5;
      margin-top: 20px;
      max-width: 330px;
    }
  }

  &-input {
    padding: 15px 150px 15px 15px;
    background-color: transparent;
    border: none;
    outline: none;
    height: 52px;
  }

  &-bottom {
    padding-top: 40px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      top: 0;
      left: 0;
      background: #E5E5EA;
    }

    .info {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #181433;
    }
  }
}